<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Kube-OIDC-Proxy</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <style>
pre.bash {
    background-color: black;
    color: #49fb35;
    font-size: small;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

    .icon-block {
        padding: 0 15px;
    }
    .icon-block .material-icons {
        font-size: inherit;
    }
        </style>
    </head>
    <body>
        <nav class="light-blue blue" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Kube-OIDC-Proxy Demo</a>
                <ul class="right hide-on-med-and-down">

                </ul>

                <ul id="nav-mobile" class="side-nav">

                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h1 class="header center darken-3">Kube-OIDC-Proxy Demo</h1>
                <div class="row center">
                    <h5 class="header col s12 light">This demo will help you to understand the use cases for <a href="https://github.com/jetstack/kube-oidc-proxy" target="_blank">kube-oidc-proxy</a>.</h5>
                </div>
                <div class="row center">
                    #CONTENT#
                </div>
                <br><br>
            </div>
        </div>
    </body>
</html>
