apiVersion: v1
kind: Service
metadata:
  name: {{ include "kube-oidc-proxy.fullname" . }}
  labels:
{{ include "kube-oidc-proxy.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 443
      protocol: TCP
      name: https
  selector:
    app.kubernetes.io/name: {{ include "kube-oidc-proxy.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
